<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<style type="text/css">
h3{

text-align: center;
padding: 30px;
color: white;
text-shadow: 3px 2px black;
    font-family: impact;

}
body{
  text-align: center;
  list-style-position: inside;
  background-image: linear-gradient(to right , #cb2d3e , #ef473a);
  color: white;
  text-shadow: 3px 2px black;
}
table{
  margin-left:auto; 
    margin-right:auto;
    color:white;
    text-shadow: 3px 2px black;
}
p, a{
  
}
  
</style>
{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}